name: Pull request status checks

on:
  pull_request:
    types:
      - opened
      - reopened
      - edited
      - synchronize

jobs:
  status-checks:
    name: Run status checks

    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres
        ports:
          - 54321:5432
        env:
          POSTGRES_PASSWORD: secretpassword

    steps:
      - uses: actions/checkout@v3
        with:
          persist-credentials: false

      - uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        shell: bash
        run: echo "::set-output name=dir::$(yarn config get cacheFolder)"

      - uses: actions/cache@v3
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Run status checks
        uses: ./.github/workflows/status-checks
